<div class="inicio">
    <div class="home">
        <h1>Tesouros da Igreja</h1>
    
        <p>Bem-vindo ao nosso site dedicado a explorar os tesouros da Igreja Católica! Aqui, você encontrará uma rica coleção de informações sobre os santos, suas vidas inspiradoras e as relíquias sagradas que eles deixaram para trás. Descubra a história por trás de cada santo, suas virtudes e milagres, e como eles continuam a influenciar a fé e a devoção dos fiéis ao redor do mundo. Junte-se a nós nessa jornada espiritual para conhecer os tesouros que a Igreja Católica tem a oferecer!</p>

        <div class="botoes-explorar">
            <a href="/santos" class="btn">Explorar Santos</a>
        </div>
    </div>

    
</div>